*{
    /* Une font très stylé */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
 }
header h1{
    color: white;
    background-color: black;
    border: solid 0px;
    border-radius: 700px;
    text-align: center;
    padding: 20px;
}
h1:hover{
    text-decoration: underline;
    
}
button.btn{
    color: white;
    background-image: linear-gradient(to left, greenyellow, green);
    padding: 30px;
    border: solid 0px;
    border-radius: 200px;
    transition: background 1s;
    font-size: 25px;
    /* Aujuste les marges pour mettre le bouton au centre de l'écran */
    margin-right: 900px;
    margin-left: 900px;
    margin-top: auto;
    margin-bottom: auto;
}
.btn:hover{
    background-image: linear-gradient(to right, greenyellow, green);
}
aside.descrip{
    color: black;
    font-weight: bolder;
    background-color: beige;
    border: solid 0px;
    border-radius: 400px;
    text-align: center;
    padding: 25px;
    width: 60%;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: auto;
    margin-bottom: auto;

}
body{
    background-color: color-mix(in srgb, blue 50%, cyan 75%);
}